@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #f03232;
  --main-color--varient: #ab4236;
  --body-bg: #001022;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --nav-height: 60px;
  --space-top: 30px;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 400ms ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a {
  text-decoration: none;
  color: unset;
}
h1 {
  line-height: 1.1;
}
img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.heading {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 8px solid var(--main-color);
  border-radius: 50%;
}
.btn {
  display: inline-block;
  padding: 0.6rem 1.6rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border-radius: 1.8rem;
  transition: var(--transition);
  box-shadow: var(--shadow-red);
  cursor: pointer;
}

.grid__5--cal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

/* ============================MEDIA QUERY for Ipads========================== */
@media screen and (max-width: 1024px) {
  .grid__5--cal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

/* ============================MEDIA QUERY for Mobiles========================== */

@media screen and (max-width: 700px) {
  * {
    max-width: 101%;
  }
  .container {
    padding: 0.5rem 1.8rem;
  }
  .grid__5--cal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
  .btn {
    font-size: 0.6rem;
  }
}
